#taskList__box{
    display:flex;
    flex-direction:column;
    
    button{
        border: 0;
        background:transparent;
        color: var(--theme-page-text);
        cursor:pointer;
        outline:none;
        font-size: 0.7em;
    }
    
    .taskList__categories{
        display:flex;        
        justify-content: space-between;
        margin:1em;    
    }   

    .taskList__detail{
        border: 1.5px solid gray;  
        border-radius:1.5em;
        color:gray;    
        display:flex;
        flex-direction:column;
        font-size: 0.5em;
        margin: 1em 0;
        padding: 1em;        

        &>div{
            display:flex;
            flex-direction:column;
            
            &>span{
                margin-bottom:0.5em;
                position:absolute;
                font-size:1.1em;
            }

            &>button{               
                font-size: 1.2em;                
                letter-spacing: 0.1em;
                margin-top:2em;               
                text-align:left;
            }
        }
    }
}
