#taskList__box{
    display:flex;
    flex-direction:column;
    
    button{
        border: 0;
        background:transparent;
        color: var(--theme-page-text);
        cursor:pointer;
        outline:none;
    }
    
    .taskList__categories{
        display:flex;        
        justify-content: space-between;
        margin:1em ;    
        
        &>button{
            font-size: 2vw;
        }
    }   

    .taskList__detail{
        border: 1px solid gray;
        border-radius:1.5em;
        color:gray;    
        display:flex;
        flex-direction:column;
        font-size: 0.5em;
        margin: 1em 0;
        padding: 1em;
        position:relative;

        &>div{
            display:flex;
            flex-direction:column;
            
            &>span{
                margin-bottom:0.5em;
                position:absolute;
            }

            &>button{               
                font-size: 0.9em;                
                font-weight: bolder;
                letter-spacing: 0.1em;
                margin-top:2em;               
                text-align:left;
            }
        }
    }

    .taskList__newTask{
        display:flex;
        flex-direction:column;
        align-items:center;
        transform:translate(-2.5em,12em);
        width:100vw;
        top:0;
        transition: top 0.8s;
        
        &>button{
            border-top:4px solid #00b4d8;
            border-radius: 1.5em;
            font-size: 1.5em;
            width:100%;
            color:#00b4d8;

            &:active{
                border-top:2px solid #00b4d8; 
            }
        }           
    }  

}

.prueba{
    height:100vh;
    background:yellow;
}