.taskList__newTask{
    position:absolute;
    left:0;
    bottom:0;
    width:100vw;    
    z-index:5;
    transition: bottom 0.8s;

    &>button{
        border:none;
        border-top:4px solid #00b4d8;
        border-radius: 1.5em;
        background:var(--theme-page-background);
        color:#00b4d8;
        cursor:pointer;
        font-size: 1.5em;       
        outline:none;
        width:100%;      
        
        &:active{
            border-top:2px solid #00b4d8; 
        }
    } 

    .taskList__data{
        padding:0 40px;
    }
    
    .taskList__close{
        border-bottom:4px solid red;
        border-top:none;
        color:red;

        &>p{
            transform: rotate(48deg);
        }
    }       
}  