#header__title{
    display:flex;
    justify-content: center;
    z-index:25;
    
    .title__app{
        padding-top: 1em;
        text-align: center;
        font-size: 6vw;      
    }
}