#header__title{
    background:var(--theme-page-background);
    display:flex;
    height:11vh;
    justify-content: center;
    left:0;
    min-width:360px;
    position:absolute;
    width:100vw;
    z-index:50;
    
    .title__app{
        font-size: 1.4em;      
        padding-top: 1em;
        text-align: center;
    }
}